*,
::after,
::before {
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}
html {
  font: normal normal normal 10px/1.5 Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}
header.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  color: rgb(255, 255, 255);
}
h1.hero-title {
  text-align: center;
  margin: 3rem auto;
  font-size: 3rem;
  font-weight: bolder;
  display: block;
}
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1rem;
  padding: 1rem;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 2rem;
  width: 100%;
  max-width: 20rem;
  height: 100%;
  max-height: 28rem;
}
.screen {
  grid-column: 1/5;
  grid-row: 1/3;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1rem;
  text-align: right;
  display: grid;
  grid-template: 1fr 1.5fr/1fr;
  overflow: auto;
}
h3.operation-screen {
  font-size: 2rem;
  font-weight: normal;
  margin: 0.4rem 0.4rem;
  overflow: auto;
}
h2.number-screen {
  font-size: 3.6rem;
  font-weight: border;
  margin: 0rem 0.4rem;
  overflow: auto;
}
.btn {
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}
.btn[data-operator] {
  background-color: rgb(0, 0, 0);
}
.btn[data-formatted-number] {
  background-color: rgb(0, 0, 0);
}
.btn[data-delete],
.btn[data-all-clear] {
  background-color: rgb(0, 0, 0);
}
.btn[data-equals] {
  background-color: rgb(0, 0, 0);
}
.btn[data-equals]:hover {
  background-color: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
}
.btn[data-equals]:active {
  background-color: rgb(0, 0, 0);
}
.btn:hover {
  background-color: rgb(26, 26, 26);
}
.btn:active {
  background-color: rgb(0, 0, 0);
  color: white;
}
#error-message {
  color: red;
  font-size: 2rem;
  margin: 2rem;
}
